<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveGameData</servlet-name>
        <servlet-class>Servlets.SaveGameData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopScores</servlet-name>
        <servlet-class>Servlets.TopScores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopPlayedGames</servlet-name>
        <servlet-class>Servlets.TopPlayedGames</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LastActiveUsers</servlet-name>
        <servlet-class>Servlets.LastActiveUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Servlets.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Activate</servlet-name>
        <servlet-class>Servlets.Activate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveGameData</servlet-name>
        <url-pattern>/SaveGameData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopScores</servlet-name>
        <url-pattern>/TopScores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopPlayedGames</servlet-name>
        <url-pattern>/TopPlayedGames</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LastActiveUsers</servlet-name>
        <url-pattern>/LastActiveUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Activate</servlet-name>
        <url-pattern>/Activate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
